@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,600&display=swap');
*{
    margin-top: 0;
}


.numero{
    position: absolute;
    font-size: 120px;
    top: 10%;
    left: 40%;
    color: antiquewhite;
    font-family: 'Rubik', sans-serif;
}

.texto{
    position: absolute;
    font-size: 50px;
    top: 30%;
    left: 30%;
    color: antiquewhite;
    font-family: 'Rubik', sans-serif;
}