.todoInput{
    display: flex;
    position: relative;
    top: 20px;
    right: 24%;
}

.input{
    position: absolute;
    left: 43%;
    height:40px;
    width: 750px;
    border-radius: 45px;
    box-shadow: none;
    
}
input::placeholder{
    padding: 10px;
    font-size: small;
}



  .botton{
    position: absolute;
  right: 8.7%; /* Ajusta este valor para mover el botón a la posición deseada */
  height: 40px;
  
  border-radius: 15px;
  margin-right: 3px;
  border: none;
    color: rgb(77, 77, 77);
}